### Ch02. Variables

#### 자료형 변환하기
- 종류: int, str, float, bool
- 변환법: 변환하고자 하는 자료형으로 기존의 것을 감싸줌

In [1]:
a = 10
type(a)

int

_ 자료형 변환하기

In [2]:
# int -> float
float(a)

10.0

In [3]:
# int -> str
str(a)

'10'

In [4]:
# int -> bool
bool(10) # 어떤 값이 False인지 기억하기

True

In [5]:
# float -> int 
# int 변환 시 소수점 이하 값은 버림 (소수점 내림)
int(10.9)

10

In [6]:
x = 4.6
y = 7.9

print(int(x + y)) # 12.5 => 12
print(int(x) + int(y)) #4 + 7 => 11

12
11

In [7]:
# str -> int 
# str을 숫자로 바꿀 때는 str의 형태와 숫자 type이 일치해야 함
p = '88.3'
# int(p) => 오류 발생
float(p)

88.3

#### 꿀팁 
print()

In [8]:
print('orange', 'apple', 'tomato') # default: 띄어쓰기
print("the next line") # default: 줄 바꾸기

orange apple tomato
the next line

In [9]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1.
print(orange + apple + tomato) # + 로 연결 가능하지만 원소들 간의 공백 사라짐
print(orange, apple, tomato, sep=' ', end='\n') # default
print(orange, apple, tomato, sep='_', end='\n\n')
print('EOL')

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [10]:
# 라인이 짧을 때 => ; 사용하여 연결
orange = 'orange'; apple = 'apple'; tomato = 'tomato'

In [11]:
num = 5; print(num)

5

## input()
- console에서 값을 입력 받는 함수
- 입출력 관련된
- 입력 받는 값의 타입은 문자열 (str)
- 입력 받은 값을 변수에 담아서 사용함

In [13]:
input("What's your name?")

What's your name? Yein

'Yein'

_ 변수 할당하는 2가지 방법

In [14]:
# 1.
name = input("What's your name?")

What's your name? Yein

In [15]:
name

'Yein'

In [17]:
# 2.
print("What's your name")
name = input()

What's your name

 Yein

In [18]:
print(name)

Yein

_ input을 str이 아닌 다른 타입으로 사용하고 싶을 때에는 형 변환을 미리 해줌

In [19]:
age = input("How old are you?")

How old are you? 23

In [20]:
type(age)

str

In [21]:
age = int(input("How old are you?"))

How old are you? 23

In [22]:
print('당신이 태어난 해는', 2022 - age + 1, '입니다.') # 연산이 가능함

당신이 태어난 해는 2000 입니다.

#### printing

In [23]:
print(f'당신이 태어난 해는 {2022 - age + 1}년 입니다!') # print(f'{<variable>}')

당신이 태어난 해는 2000년 입니다!

### Quiz 1
- 택배 정보를 입력 받고 무게에 따른 값 산정하기
    - 수취인 성명:
    - 수취인 주소:
    - 배송비: 3000원
    - 물건 비용: <계산된 값>원
    - 총 합계: <계산된 값>원
- 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [25]:
name = input('수취인 성명: ')
address = input('수취인 주소: ')
weight = int(input('물건의 무게: '))
shipping_fee = 3000
product_fee = weight * 5

수취인 성명:  Yein
수취인 주소:  Seoul
물건의 무게:  70

In [26]:
print(f'수취인 성명: {name}')
print(f'수취인 주소: {address}')
print('배송비: 3000원')
print(f'물건 비용: {product_fee}원')
print(f'총 합계: {shipping_fee + product_fee}원')

수취인 성명: Yein
수취인 주소: Seoul
배송비: 3000원
물건 비용: 350원
총 합계: 3350원

## Ch03. Numbers

### boolean
- True / False
- False인 값 = 비어있는 값
- if문 (조건식)에서 주로 사용: '만역 어떤 값이 True면 ...'

_ False인 값

In [27]:
bool(0)

False

In [28]:
bool('')

False

### Integer
- 분수나 소수가 아닌 정수
- 음수는 '-' 기호를 사용: i.e., -50
- default = 양수
- 숫자 앞에는 0을 사용하지 못함 i.e., 09
    - 예외적으로 10진수가 아닐 때는 가능 i.e., 0bxx
    - 단, 10진수 외에는 사용할 일이 없음
- 숫자 사이에 쉼표를 쓰면 오류 발생: 100,000
    - 100과 000을 따로 인식
    - 따라서 _를 사용 i.e., 100_000
    - 즉, 숫자 사이의 언더바는 인식하지 않음

In [29]:
a = 09 #숫자 앞에 0 사용 못함

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_62096/2289478832.py, line 1)

In [30]:
a = -50
b = 49
a + b

-1

### 연산자| operator
    - +, -, *, /
    - 피연산자|operand: 1, 2, ...
    - 수식|expression

In [31]:
x = 9
y = 4

#연산
x + y
x - y
x * y
x / y
x ** y # 거듭제곱(exponential)

6561

_나눗셈 관련 연산자들

In [32]:
# 몫과 나머지
x / y

# 몫
x // y

# 나머지
x % y

#예쁜 몫과 나머지
divmod(x, y)

(2, 1)

In [33]:
# division by zero 항시 유의

In [34]:
# 숫자 사이의 공백은 무시됨
1 + 9 +       +10

20

#### 복합 대입 연산자 | compound assignment operator

In [35]:
x = 5
x - 3
print(x) # x를 뺀 값을 대입하지 않았기에 x = 5

5

In [36]:
x = x - 3
print(x)

2

In [37]:
x -= 3
print(x) # 2 - 3

-1

_숨겨진 논리

In [38]:
#1. x - 3 계산
#2. temp = x - 3 (임의 변수에 담는다)
#3. x = temp

x += 3
x -= 3
x *= 3
x /= 3

### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 면적 = pi * r제곱

In [39]:
radius = float(input('반지름을 입력하세요: '))
pi = 3.14
area = radius ** 2 *pi
print(area)

반지름을 입력하세요:  8.5

226.865

### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기
- 숫자를 입력 받고 홀수인지 확인하기

In [40]:
#1. 
num_1 = int(input('숫자를 입력하세요: '))
check_3 = num_1 % 3
print(f'{num_1}은 3의 배수인가요? {not bool(check_3)}')
print(' ')

num_2 = int(input('숫자를 입력하세요: '))
check_2 = num_2 % 2
print(f'{num_2}는 홀수 인가요? {bool(check_2)}')

숫자를 입력하세요:  12

12은 3의 배수인가요? True

숫자를 입력하세요:  48

48는 홀수 인가요? False

In [42]:
#2.
num = int(input('숫자를 입력하세요: '))
bool(num % 3 == 0)

숫자를 입력하세요:  12

True

### 지수 표현
- 예: '1.0e-4'
- e의 앞부분은 소수, 정수 둘 다 됨
- 뒷부분은 정수여야 함
- 뒷부분이 음수면 소수점 자릿수를 의미함
- e, E 모두 가능

In [43]:
# 0.0004005 => 지수로 표현하기
4005.0e-7
4.005e-4

0.0004005

### IF 조건문

#### 코드 짜는 팁
- 주석 달기
    - 특징
        - #(hash, sharp,...) 기호를 사용
        - #가 시작된 지점부터 라인 끝까지가 주석 처리됨
        - 라인이 바뀌면 코드로 인식
        - """ """ : 긴 주석에 사용함
        - 문자열 안에 있는 #은 부호로 인식됨
    - 사용 이유
        - 코드에 대한 설명은 최대한 하지 않아야 함
        - 코드의 의도를 나타내거나, 오류가 있다거나 ,,,
        - 의미 이외의 것을 설명하기 위해
- 라인 유지하기
    - 들여쓰기
        - tab을 이용하면 됨
        - default = space * 4
        - 논리 구조를 나타내기 때문에 굉장히 중요함
    - 한 라인에 80자 정도 들어감
    - 라인을 넘어가면 백슬래쉬\로 끊어줌

In [44]:
a = 3 # 주석입니다
"""
주석1
주석2
주석3
"""
print(a)

3

In [45]:
print('hey, ther #') #문자열 안에서는 부호로 인식

hey, ther #

### if

- if <조건식>:
    <실행할 코드>

In [46]:
if 3 == 1:
    print("두 수는 같다")
# 조건식이 False이기에 print 되지 않음

- if-else:
if <조건식>:
    <실행할 코드1>
else:
    <실행할 코드2>

In [47]:
if 3 != 1:
    print('두 수는 같지 않다')
else:
    print('두 수가 같다')

두 수는 같지 않다

if-elif-else:
if <조건식1>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드3>
else:
    <실행할 코드2>
# 조건식 1에서 코드가 실행되면 조건식 2로 넘어가지 않음

In [48]:
a = 4
if a < 3:
    print('3보다 작다')
elif a == 3:
    print('3이다')
else:
    print('3보다 크다')

# if와 elif의 조건식을 만족하지 못해 else까지 넘어옴

3보다 크다

In [50]:
if a < 3:
    print('3보다 작다')
if a == 3:
    print('3이다')
if a > 4:
    print('3보다 크다')

# if 각각을 별개로 실행시키도 만족시키는 조건이 없어 값이 출력되지 않음

### 비교 연산자
- x < y
- x > y
- x >= y
- x <= y
- x == y (값이 다르다)
- x != y
- x is y (값, 메머리 주소)
- x is not y

### Quiz
- 1. 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기
- 2. 시험 점수를 입력 받고, 95점 이상 A+, 90점 이상 A, 85점 이상 B+, 나머지는 F로 출력하세요.

In [53]:
#1.
score = int(input('시험 점수를 입력하세요: '))

if score >= 80:
    print(True)
else:
    print(False)

시험 점수를 입력하세요:  90

True

In [54]:
#2.
score = int(input('시험 점수를 입력하세요: '))

if score >= 95:
    print('A+')
elif score >= 90:
    print('A')
elif score >= 85:
    print('B+')
else:
    print('F')

시험 점수를 입력하세요:  93

A